<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <!-- [PRIVATE] -->
            <li>
                <a href="/empresa/adm/create"><i class="fa fa-fw"></i> Nova Empresa</a>
            </li>
            <li>
                <a href="/empresa/adm/list"><i class="fa fa-fw"></i> Manutenção de Empresas</a>
            </li>
            <!-- [/PRIVATE] -->
            
            <!-- [PUBLIC] -->
            <li>
                <a href="/empresa/edit"><i class="fa fa-fw"></i> Editar Empresa</a>
            </li>
            <li>
                <a href="/usuario/list"><i class="fa fa-fw"></i> Manutenção de Usuários</a>
            </li>
            <li>
                <a href="/cliente/list"><i class="fa fa-fw"></i> Manutenção de Clientes</a>
            </li>
            <!-- [PUBLIC] -->
        </ul>
    </div>
</div>
