<!DOCTYPE html>
<html lang="en" ng-app="appFY">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FidelizeU</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../../vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- FidelizeU Style -->
    <link href="../../../fidelizeyou/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="EmpresaCtrl">
    <div id="wrapper">

        <!-- Navigation -->
        <% include ../../../partials/header %>

	    <!-- #page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Nova Empresa</h1>
                </div>
            </div>

            <div class="row row-centered">
                <div class="col-xs-12 col-md-8 col-centered">
                    <form ng-submit="submitCreate()">
                        <h3>Dados da Empresa</h3>
                        <div class="form-group">
                            <label for="empresaNome">Nome da Empresa</label>
                            <input type="text" class="form-control" id="empresaNome" required
                                maxlength="100" placeholder="Digite o nome da empresa"
                                ng-model="e_nome">
                        </div>
                        <div class="form-group">
                            <label for="empresaCNPJ">CNPJ</label>
                            <input type="text" class="form-control" id="empresaCNPJ" required
                                     ui-mask="(99)99999-9999"
                                    ng-model="e_cnpj">
                        </div>
                        <div class="form-group">
                            <label for="empresaConfigPontos">Quantidade de pontos por premiação</label>
                            <input type="number" class="form-control" id="empresaConfigPontos" 
                                min="1" max="99" onKeyDown="if(this.value.length==2) return false;"
                                required placeholder="Digite a configuração de pontos"
                                ng-model="e_configpontos">
                        </div>
                        <hr>
                        <h3>Dados do Usuário Supervisor</h3>
                        <div class="form-group">
                            <label for="empresaNomeUsuario">Nome do Usuário Supervisor</label>
                            <input type="text" class="form-control" id="empresaNomeUsuario" required
                                size="70" maxlength="70" placeholder="Digite o nome do usuário supervisor"
                                ng-model="e_nomeusu">
                        </div>
                        <div class="form-group">
                            <label for="empresaEmailUsuario">E-mail de acesso</label>
                            <input type="text" class="form-control" id="empresaEmailUsuario" required
                                size="70" maxlength="70" placeholder="E-mail de acesso do usuário"
                                ng-model="e_emailusu">
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <label for="empresaSenhaUsuario">Senha</label>
                            <input type="password" class="form-control" id="empresaSenhaUsuario" required
                                minlength="8" maxlength="16" size="16" placeholder="Digite sua senha"
                                ng-model="e_password">
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <label for="empresaSenhaUsuario">Confirmar Senha</label>
                            <input type="password" class="form-control" id="empresaSenhaUsuario" required
                                minlength="8" maxlength="16" size="16" placeholder="Digite sua senha novamente">
                        </div>

                        <button type="button" style="margin-left: 70%; width: 100px;" class="btn btn-danger">Cancelar</button>
                        <button type="submit" style="width: 100px;" class="btn btn-success">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../../vendor/raphael/raphael.min.js"></script>
    <script src="../../../vendor/morrisjs/morris.min.js"></script>
    <script src="../../../data/morris-data.js"></script>

	<!-- Custom Theme JavaScript -->
    <script src="../../../dist/js/sb-admin-2.js"></script>

    <!-- NG -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="../../../fidelizeyou/js/empresa-controller.js"></script>

    <script type="text/javascript" src="../../../vendor/angular-ui-mask/dist/mask.js"></script>
</body>
</html>
