<!DOCTYPE html>
<html lang="en" ng-app="appFY">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FidelizeU</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../../vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- FidelizeU Style -->
    <link href="../../../fidelizeyou/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="../../../fidelizeyou/css/style.css" rel="stylesheet">
</head>
<body ng-controller="EmpresaCtrl">
    <div id="wrapper">

        <!-- Navigation -->
        <% include ../../../partials/header %>

	    <!-- #page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Manutenção de Empresas</h1>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-12 col-centered" ng-init="getAll()">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>CNPJ</th>
                                <th>Pontuação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="e in empresas">
                                <td>{{ e.nome }}</td>
                                <td>{{ e.cnpj }}</td>
                                <td>{{ e.config_pontos }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" 
                                            data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" 
                                        ng-click="fillFormUpdate(e)"></span>
                                    </button>
                                    <a class="btn btn-danger" href="#" role="button" ng-click="remove(e._id)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editando Empresa</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="empresaNome">Nome da Empresa</label>
                    <input type="text" class="form-control" id="empresaNome" required
                        maxlength="100" placeholder="Digite o nome da empresa" ng-model="nome">
                </div>
                <div class="form-group">
                    <label for="empresaCNPJ">CNPJ</label>
                    <input type="text" class="form-control" id="empresaCNPJ" required
                            placeholder="Digite o CNPJ da empresa" ng-model="cnpj">
                </div>
                <div class="form-group">
                    <label for="empresaConfigPontos">Quantidade de pontos por premiação</label>
                    <input type="number" class="form-control" id="empresaConfigPontos" 
                        min="1" max="99" onKeyDown="if(this.value.length==2) return false;"
                        required placeholder="Digite a configuração de pontos" ng-model="pontos">
                </div>
                <input type="hidden" id="id" value="" ng-model="id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" ng-click="update()">Salvar</button>
            </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../../../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../../vendor/raphael/raphael.min.js"></script>
    <script src="../../../vendor/morrisjs/morris.min.js"></script>
    <script src="../../../data/morris-data.js"></script>

	<!-- Custom Theme JavaScript -->
    <script src="../../../dist/js/sb-admin-2.js"></script>

    <!-- NG -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="../../../fidelizeyou/js/empresa-controller.js"></script>

     <script type="text/javascript" src="../../../vendor/angular-ui-mask/dist/mask.js"></script>

     <script src="../../../dist/js/ngAlertify.js"></script>

</body>
</html>