<form>
    <h3>Dados da Empresa</h3>
    <div class="form-group">
        <label for="empresaNome">Nome da Empresa</label>
        <input type="text" class="form-control" id="empresaNome" required
            maxlength="100" placeholder="Digite o nome da empresa" >
    </div>
    <div class="form-group">
        <label for="empresaCNPJ">CNPJ</label>
        <input type="text" class="form-control" id="empresaCNPJ" required
                placeholder="Digite o CNPJ da empresa" >
    </div>
    <div class="form-group">
        <label for="empresaConfigPontos">Quantidade de pontos por premiação</label>
        <input type="number" class="form-control" id="empresaConfigPontos" 
            min="1" max="99" onKeyDown="if(this.value.length==2) return false;"
            required placeholder="Digite a configuração de pontos" >
    </div>

    <button type="button" style="margin-left: 70%; width: 100px;" class="btn btn-danger">Cancelar</button>
    <button type="submit" style="width: 100px;" class="btn btn-success">Salvar</button>
</form>