<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FidelizeU</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../../vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- FidelizeU Style -->
    <link href="../../../fidelizeu/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <% include ../../partials/header %>

	    <!-- #page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Manutenção de Usuários</h1>
                </div>
            </div>

            <div class="row row-centered">
                <div class="col-md-12 col-centered">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fidelize You</td>
                                <td>fidelizeu@mail.com</td>
                                <td>
                                    <button type="button" class="btn btn-primary" 
                                            data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <a class="btn btn-danger" href="#" role="button" onclick="Delete()">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editando Usuário</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usuarioNome">Nome do Usuário</label>
                    <input type="text" class="form-control" id="usuarioNome" required
                        size="70" maxlength="70" placeholder="Digite o nome do usuário">
                </div>
                <div class="form-group">
                    <label for="usuarioEmail">E-mail de acesso</label>
                    <input type="text" class="form-control" id="usuarioEmail" required
                        size="70" maxlength="70" placeholder="E-mail de acesso do usuário">
                </div>
                <div class="form-group">
                    <label for="usuarioSenha">Senha</label>
                    <input type="password" class="form-control" id="usuarioSenha" required
                        minlength="8" maxlength="16" size="16" placeholder="Digite sua senha">
                </div>
                <div class="form-group">
                    <label for="usuarioConfirmarSenha">Confirmar Senha</label>
                    <input type="password" class="form-control" id="usuarioConfirmarSenha" required
                        minlength="8" maxlength="16" size="16" placeholder="Digite sua senha novamente">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Salvar</button>
            </div>
            </div>
        </div>
    </div>

    <script>
        function Delete(){
            var r = confirm("Confirmar exclusão do usuário? (Se usuário supervisor não poderá ser excluído");
            if (r == true) {
                alert("Usuário excluído com sucesso!");
            } else {
                alert("Cancel");
            }
        }
    </script>

    <!-- jQuery -->
    <script src="../../../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../../vendor/raphael/raphael.min.js"></script>
    <script src="../../../vendor/morrisjs/morris.min.js"></script>
    <script src="../../../data/morris-data.js"></script>

	<!-- Custom Theme JavaScript -->
    <script src="../../../dist/js/sb-admin-2.js"></script>
</body>
</html>